# [Common]
*.o
Makefile
/bin/
/build/
/lib/
/src/framework-python/sharbuf.egg-info/

# [Build]
debian/*
!/debian/changelog
!/debian/compat
!/debian/control
!/debian/copyright
!/debian/libsharbuf.install
!/debian/libsharbuf-dev.install
!/debian/sharbuf-tools.install
!/debian/sharbuf-framework-python.install
!/debian/rules
/obj-i686-linux-gnu/

# [Project Specific]
*.pro.user*
*.txt.user*

# [Qt]
moc_*

